rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /dispatch/{documentId} {
      allow read, write: if documentId == "sharedState" && request.auth != null;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
